<h1>Contact Us</h1>

<p>A &amp; M Creamery is not a real creamery, but rather a sample project for programming students at 
	Carnegie Mellon University. However, if you are unhappy and want to grouse to someone, 
	here's the contact info:</p>

<table cellpadding="3">
	<tr>
		<td>Webmaster:&nbsp;&nbsp;&nbsp;</td>
		<td>Terrence Copney & Ryan Sanders</td>
	</tr>
	<tr>
		<td>Email:</td>
		<td>
		<%= mail_to("clashman12@gmail.com", "CMU NSBE Telecommunications", :encode => "javascript") %> 
		</td>
	</tr>
</table>
