<h1>Our Privacy Policy</h1>

<p>Our privacy policy is simple and does not require a lawyer 
	to understand it.  
	We will pounce on the opportunity to sell every
	bit of information on you we have at our disposal so we 
	can to help boost our bottom line.  We will gladly sell 
	your address, phone, email, age, name of pet, name of
	favorite superhero, color of bunny slippers you wear at 
	home, and the like, to any willing buyer.  
	(BTW, we <em>know</em> you wear bunny slippers at home and we know what  
	color they are.  You really have no secrets from us.) 
	If you don't want sensitive information 
	shared with the world, then don't tell us!  
	<br><br>
	It's really that simple.
</p>